Repository microsoft/WindowsAppSDK-Samples, pull requests merged in 2021-11, with the labels that each got.

#125 add vs2022 to readme
  README.md
Labels: 1.0.0

#96 Add DeploymentManager CSharp Sample
  README.md
  Samples/DeploymentManager/README.md
  Samples/DeploymentManager/cs-winui/SampleApp (Package)/Images/LockScreenLogo.scale-200.png
  Samples/DeploymentManager/cs-winui/SampleApp (Package)/Images/SplashScreen.scale-200.png
  Samples/DeploymentManager/cs-winui/SampleApp (Package)/Images/Square150x150Logo.scale-200.png
  Samples/DeploymentManager/cs-winui/SampleApp (Package)/Images/Square44x44Logo.scale-200.png
  Samples/DeploymentManager/cs-winui/SampleApp (Package)/Images/Square44x44Logo.targetsize-24_altform-unplated.png
  Samples/DeploymentManager/cs-winui/SampleApp (Package)/Images/StoreLogo.png
  Samples/DeploymentManager/cs-winui/SampleApp (Package)/Images/Wide310x150Logo.scale-200.png
  Samples/DeploymentManager/cs-winui/SampleApp (Package)/Package.appxmanifest
  Samples/DeploymentManager/cs-winui/SampleApp (Package)/SampleApp (Package).wapproj
  Samples/DeploymentManager/cs-winui/SampleApp.sln
  Samples/DeploymentManager/cs-winui/SampleApp/App.xaml
  Samples/DeploymentManager/cs-winui/SampleApp/App.xaml.cs
  Samples/DeploymentManager/cs-winui/SampleApp/MainWindow.xaml
  Samples/DeploymentManager/cs-winui/SampleApp/MainWindow.xaml.cs
  Samples/DeploymentManager/cs-winui/SampleApp/Properties/PublishProfiles/win10-arm64.pubxml
  Samples/DeploymentManager/cs-winui/SampleApp/Properties/PublishProfiles/win10-x64.pubxml
  Samples/DeploymentManager/cs-winui/SampleApp/Properties/PublishProfiles/win10-x86.pubxml
  Samples/DeploymentManager/cs-winui/SampleApp/SampleApp.csproj
  Samples/DeploymentManager/cs-winui/SampleApp/app.manifest
Labels: area-deploymentmanager, 1.0.0

#117 Installer Launch sample
  README.md
  Samples/Installer/README.md
  Samples/Installer/cpp-console-unpackaged/LaunchInstaller.sln
  Samples/Installer/cpp-console-unpackaged/LaunchInstaller.vcxproj
  Samples/Installer/cpp-console-unpackaged/LaunchInstaller.vcxproj.filters
  Samples/Installer/cpp-console-unpackaged/main.cpp
  Samples/Installer/cpp-console-unpackaged/packages.config
  Samples/Installer/cpp-console-unpackaged/pch.cpp
  Samples/Installer/cpp-console-unpackaged/pch.h
Labels: 1.0.0

#128 Update Resource Management samples to use stable version of Windows App SDK
  Samples/ResourceManagement/cpp-console-unpackaged/console_unpackaged_app.cpp
  Samples/ResourceManagement/cpp-console-unpackaged/console_unpackaged_app.vcxproj
  Samples/ResourceManagement/cpp-console-unpackaged/packages.config
  Samples/ResourceManagement/cpp-winui/winui_desktop_packaged_app_cpp (Package)/winui_desktop_packaged_app_cpp (Package).wapproj
  Samples/ResourceManagement/cpp-winui/winui_desktop_packaged_app_cpp/packages.config
  Samples/ResourceManagement/cpp-winui/winui_desktop_packaged_app_cpp/winui_desktop_packaged_app_cpp.vcxproj
  Samples/ResourceManagement/cs-winforms-unpackaged/MddBootstrap.cs
  Samples/ResourceManagement/cs-winforms-unpackaged/Program.cs
  Samples/ResourceManagement/cs-winforms-unpackaged/winforms_unpackaged_app.csproj
  Samples/ResourceManagement/cs-wpf/wpf_packaged_app (Package)/wpf_packaged_app (Package).wapproj
  Samples/ResourceManagement/cs-wpf/wpf_packaged_app/wpf_packaged_app.csproj
Labels: area-resourcemanagement, 1.0.0

#120 Adding cs-winforms-unpackaged windowing sample
  Samples/Windowing/cs-winforms-unpackaged/AppForm.Designer.cs
  Samples/Windowing/cs-winforms-unpackaged/AppForm.cs
  Samples/Windowing/cs-winforms-unpackaged/AppForm.resx
  Samples/Windowing/cs-winforms-unpackaged/LegacyResources.Designer.cs
  Samples/Windowing/cs-winforms-unpackaged/LegacyResources.resx
  Samples/Windowing/cs-winforms-unpackaged/Program.cs
  Samples/Windowing/cs-winforms-unpackaged/Resources/window_icon.png
  Samples/Windowing/cs-winforms-unpackaged/WindowingInterop.cs
  Samples/Windowing/cs-winforms-unpackaged/winforms_unpackaged_app.csproj
  Samples/Windowing/cs-winforms-unpackaged/winforms_unpackaged_app.sln
  Samples/Windowing/cs-winui/SampleApp (Package)/SampleApp (Package).wapproj
  Samples/Windowing/cs-winui/SampleApp/SampleApp.csproj
Labels: 1.0.0

#133 Update cs-winui Resource Management sample to 1.0 and fix two bugs.
  Samples/ResourceManagement/cs-winui/ClassLibrary/ClassLibrary.csproj
  Samples/ResourceManagement/cs-winui/winui_desktop_packaged_app (Package)/winui_desktop_packaged_app (Package).wapproj
  Samples/ResourceManagement/cs-winui/winui_desktop_packaged_app/App.xaml
  Samples/ResourceManagement/cs-winui/winui_desktop_packaged_app/winui_desktop_packaged_app.csproj
  Samples/nuget.config
Labels: area-resourcemanagement, 1.0.0
